#!/bin/zsh

BODY='
function FindProxyForURL(url, host) {
  var domains = ["{{ proxy_domains | join('", "') }}"];
  for (i in domains) {
    if (dnsDomainIs(host, domains[i])) {
      if (isResolvable("home.local")) {
        return "PROXY home.local:8888";
      } else {
        return "DIRECT";
      }
    }
  }
  return "DIRECT";
}
'

echo -n "HTTP/1.1 200 OK
Connection: close
Date: $(date)
Content-Type: application/x-ns-proxy-autoconfig
Content-Length: $(echo ${{ "{" }}#BODY})

$BODY"
