[Unit]
Description=Stop/start containers mounting {{ base_data }} with its mount unit
BindsTo={{ _data_mount_unit.stdout }}
After={{ _data_mount_unit.stdout }}

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/base-data-guard start {{ base_data }}
ExecStop=/usr/local/bin/base-data-guard stop {{ base_data }}
