# --------- INTERACTIVE OR NON-INTERACTIVE ---------

if set -q SSH_CLIENT; or set -q SSH_TTY
    set -gx OP_BIOMETRIC_UNLOCK_ENABLED false
end



# ---------------- INTERACTIVE ONLY ----------------

if [ "$NVIM" ]
set --global --export EDITOR nvr --remote-tab-wait
set --global --export PAGER nvr +PagerInit --remote-wait -
end

status is-interactive; or exit 0

{% for entry in shells_uv.shell_path_entries_interactive %}
contains -- "./{{ entry }}" $PATH; or set -gxp PATH "./{{ entry }}"
{% endfor %}


# TOOL SETUP

atuin init fish --disable-up-arrow | source
command -v direnv >/dev/null 2>&1; and direnv hook fish | source
set --export OP_PLUGIN_ALIASES_SOURCED 1

if set -q SSH_CLIENT; or set -q SSH_TTY
    alias opsignin="eval ({{ shells_op_command }} signin)"
end


# EDITOR

# This overwrites the universal variables in this shell session only
if [ "$NVIM" ]
abbr --add --global e nvr
abbr --add --global v "$EDITOR"
end
