# --------- INTERACTIVE OR NON-INTERACTIVE ---------





# ---------------- INTERACTIVE ONLY ----------------


status is-interactive; or exit 0

{% for entry in shells_uv.shell_path_entries_interactive %}
contains -- "./{{ entry }}" $PATH; or set -gxp PATH "./{{ entry }}"
{% endfor %}


# TOOL SETUP

op completion fish | source
[ -f ~/.config/tabtab/__tabtab.fish ]; and source ~/.config/tabtab/__tabtab.fish
atuin init fish --disable-up-arrow | source


# EDITOR

# This overwrites the universal variables in this shell session only
if [ "$NVIM" ]
set --global --export EDITOR nvr --remote-tab-wait
abbr --add --global e nvr
abbr --add --global man viman
abbr --add --global v "$EDITOR"
end

# ASDF

test -f "{{ homebrew_prefix }}/opt/asdf/libexec/asdf.fish"; and source "{{ homebrew_prefix }}/opt/asdf/libexec/asdf.fish"
if set -q ASDF_DIR
set -l _asdf_bin "$ASDF_DIR/bin"
set -l _asdf_shims "$HOME/.asdf/shims"
if set -q ASDF_DATA_DIR
set _asdf_shims "$ASDF_DATA_DIR/shims"
end

while contains -- "$_asdf_bin" $PATH
set -e PATH[(contains --index -- "$_asdf_bin" $PATH)]
end
while contains -- "$_asdf_shims" $PATH
set -e PATH[(contains --index -- "$_asdf_shims" $PATH)]
end

set -p PATH "$_asdf_bin"
set -p PATH "$_asdf_shims"
end
