{% for item in shells_variables %}
{% if item.export | default(false, true) %}export {% endif %}{{ item.name }}={{ item.value | to_json }}
{% endfor %}

{% for item in shells_abbreviations if item.shell_alias | default(true) %}
alias {{ item.name }}={{ item.value | to_json }}
{% endfor %}
