{% for item in shells_variables %}
{% set values = item.value_multiple | default([item.value]) | list %}
{% if item.keep_existing | default(false, true) %}
{% set values = values + ansible_facts['env'].get(item.name, '').split(':') %}
{% endif %}
{% set values = values | reject('equalto', '') | list %}
{% if item.path | default(false, true) %}
{% set values = values | unique | list %}
{% endif %}
{% set value = values | join(':') %}
{% if item.export | default(false, true) %}export {% endif %}{{ item.name }}={{ value | to_json }}
{% endfor %}

{% for item in shells_abbreviations if item.shell_alias | default(true) %}
alias {{ item.name }}={{ item.value | to_json }}
{% endfor %}
