if [ -x "{{ homebrew_brew_bin_path }}/brew" ]; then
  eval "$({{ homebrew_brew_bin_path }}/brew shellenv {{ shell_paths_brew_shell | default('sh') }})"
fi

path_prepend() {
  case ":$PATH:" in
    *":$1:"*) ;;
    *) PATH="$1${PATH:+:$PATH}" ;;
  esac
}

{% for entry in _uv.shell_path_entries | reverse %}
path_prepend "{{ entry }}"
{% endfor %}

path_remove() {
  _new_path=
  _old_ifs=$IFS
  IFS=:
  for _path_item in $PATH; do
    if [ -n "$_path_item" ] && [ "$_path_item" != "$1" ]; then
      _new_path="${_new_path:+$_new_path:}$_path_item"
    fi
  done
  IFS=$_old_ifs
  PATH=$_new_path
  unset _new_path _old_ifs _path_item
}

export PATH
