{% for item in shells_variables %}
{% set value = item.value_multiple | default([item.value]) | reject('equalto', '') | list | join(':') %}
{% if item.export | default(false, true) %}export {% endif %}{{ item.name }}={{ value | to_json }}
{% endfor %}

{% for item in shells_abbreviations if item.shell_alias | default(true) %}
alias {{ item.name }}={{ item.value | to_json }}
{% endfor %}
