auto-update = download
auto-update-channel = tip
font-family = "Triplicate A Code"
font-size = 12
font-thicken = true
font-thicken-strength = 180
{% if ansible_facts["system"] == "Darwin" %}
macos-option-as-alt = right
{% endif %}
shell-integration-features = ssh-terminfo,ssh-env
tab-inherit-working-directory = false
theme = dark:Catppuccin Mocha,light:Catppuccin Latte
window-inherit-working-directory = false
window-show-tab-bar = always
working-directory = home
