-- HYPER KEY

-- Definitions

local hyper = {"cmd", "alt", "ctrl", "shift"}
local meh = {"ctrl", "alt", "shift"}

-- CAFFEINE

do
  local caffeineMenubar = hs.menubar.new():removeFromMenuBar()
  local delayPeriod = hs.timer.minutes(10)
  local offSwitch = nil
  local menubarUpdater = nil

  local function resetTimer()
    if offSwitch ~= nil then
      offSwitch:stop()
      offSwitch = nil
    end
    if menubarUpdater ~= nil then
      menubarUpdater:stop()
      menubarUpdater = nil
    end
  end



  local function setCaffeine(shouldCaffeinate)
    if shouldCaffeinate then
      caffeineMenubar:returnToMenuBar()
      resetTimer()
      hs.caffeinate.set("displayIdle", true, true)
      updateMenubarTitle()
    else
      caffeineMenubar:removeFromMenuBar()
      hs.caffeinate.set("displayIdle", false, false)
      resetTimer()
    end
  end

  local function turnOff()
    setCaffeine(false)
  end


  local function toggle()
    if offSwitch ~= nil then
      setCaffeine(true)
    else
      setCaffeine(not hs.caffeinate.get("displayIdle"))
    end
  end


  local function extend()
    if not caffeineMenubar:isInMenubar() then
      setCaffeine(true)
    end
    if offSwitch == nil then
      offSwitch = hs.timer.doAfter(delayPeriod, turnOff)
    else
      offSwitch:setNextTrigger(offSwitch:nextTrigger()+delayPeriod)
    end
    updateMenubarTitle()
    menubarUpdater = hs.timer.doEvery(60, updateMenubarTitle)
  end


  function updateMenubarTitle()
    if caffeineMenubar:isInMenubar() then
      if offSwitch ~= nil then
        minsLeft = math.ceil (offSwitch:nextTrigger()/60)
        if minsLeft >= 60 then
          remaining = math.floor (minsLeft/60) .. "h" .. (minsLeft % 60) .. "m"
        else
          remaining = minsLeft .. "m"
        end
      else
        remaining = ""
      end
      caffeineMenubar:setTitle("⦿" .. remaining)
    end
  end


  caffeineMenubar:setClickCallback(turnOff)
  setCaffeine(hs.caffeinate.get("displayIdle"))

  hs.hotkey.bind(meh, "8", toggle)
  hs.hotkey.bind(meh, "9", extend)
end


-- TYPE CLIPBOARD

hs.hotkey.bind(hyper, "v", function() hs.eventtap.keyStrokes(hs.pasteboard.getContents()) end)

-- DARK MODE TOGGLE

hs.hotkey.bind(meh, "7", function() hs.osascript.applescript([[
  tell application "System Events" to tell appearance preferences to set dark mode to not dark mode
]]) end)

-- WINDOW MANAGEMENT

local windowModifiers = {"ctrl", "alt"}
local function moveFocusedWindow(unit)
  local win = hs.window.focusedWindow()
  if win ~= nil then
    win:moveToUnit(unit)
  end
end

hs.hotkey.bind(windowModifiers, "up", function() moveFocusedWindow({x=0, y=0, w=1, h=0.5}) end)
hs.hotkey.bind(windowModifiers, "right", function() moveFocusedWindow({x=0.5, y=0, w=0.5, h=1}) end)
hs.hotkey.bind(windowModifiers, "left", function() moveFocusedWindow({x=0, y=0, w=0.5, h=1}) end)
hs.hotkey.bind(windowModifiers, "down", function() moveFocusedWindow({x=0, y=0.5, w=1, h=0.5}) end)

hs.hotkey.bind(windowModifiers, "d", function() moveFocusedWindow({x=0, y=0, w=1/3, h=1}) end)
hs.hotkey.bind(windowModifiers, "f", function() moveFocusedWindow({x=1/3, y=0, w=1/3, h=1}) end)
hs.hotkey.bind(windowModifiers, "g", function() moveFocusedWindow({x=2/3, y=0, w=1/3, h=1}) end)

hs.hotkey.bind(windowModifiers, "e", function() moveFocusedWindow({x=0, y=0, w=2/3, h=1}) end)
hs.hotkey.bind(windowModifiers, "t", function() moveFocusedWindow({x=1/3, y=0, w=2/3, h=1}) end)

hs.hotkey.bind(windowModifiers, "return", function() moveFocusedWindow({x=0, y=0, w=1, h=1}) end)


-- APP LAUNCHERS

{% for launcher in hammerspoon_app_launchers %}
hs.hotkey.bind(
  {% if launcher.k is match('^[A-Z]$') %}hyper{% else %}meh{% endif %},
  "{{ launcher.k | lower }}",
  function()
    {# We use this over hs.application.launchOrFocus because that hangs when launching a big application #}
    hs.task.new("/usr/bin/open", nil, {"-a", "{{ launcher.app }}"}):start()
  end
)
{% endfor %}

{#

-- MENUBAR NOTIFICATIONS

local menubarCheckers = {}

local function debounce(seconds, fn)
  local timer = nil

  return function()
    if timer ~= nil then
      timer:stop()
    end
    timer = hs.timer.doAfter(seconds, fn)
  end
end

local function addMenubarChecker(config)
  local checker = {
    icon = hs.menubar.new(true, config.name):removeFromMenuBar(),
    pathwatchers = {},
  }

  function checker.setIcon()
    if config.shouldDisplay() then
      checker.icon:returnToMenuBar():setTitle(config.icon):setClickCallback(config.onClick)
    else
      checker.icon:removeFromMenuBar()
    end
  end

  checker.triggerUpdate = config.debounceSeconds and debounce(config.debounceSeconds, checker.setIcon) or checker.setIcon

  if config.path then
    table.insert(checker.pathwatchers, hs.pathwatcher.new(config.path, checker.triggerUpdate):start())
  end

  if config.paths then
    for _, path in ipairs(config.paths) do
      table.insert(checker.pathwatchers, hs.pathwatcher.new(path, checker.triggerUpdate):start())
    end
  end

  if config.apps then
    checker.appwatcher = hs.application.watcher.new(function(appName, eventType)
      if hs.fnutils.contains(config.apps, appName) and (
        eventType == hs.application.watcher.launching or
        eventType == hs.application.watcher.launched or
        eventType == hs.application.watcher.activated or
        eventType == hs.application.watcher.unhidden or
        eventType == hs.application.watcher.terminated
      ) then
        checker.triggerUpdate()
      end
    end):start()
  end

  if config.seconds then
    checker.timer = hs.timer.doEvery(config.seconds, checker.setIcon)
  end

  table.insert(menubarCheckers, checker)
  checker.setIcon()
end

addMenubarChecker{
  icon = "↓",
  name = "DownloadsCount",
  path = "{{ hammerspoon_downloads_path }}",
  debounceSeconds = 2,
  onClick = function()
    hs.open "{{ hammerspoon_downloads_path }}"
    hs.application.launchOrFocus "Finder"
  end,
  shouldDisplay = function()
    for x in hs.fs.dir "{{ hammerspoon_downloads_path }}" do
      if x and x ~= "." and x ~= ".." and x ~= ".DS_Store" and x ~= ".localized" then
        return true
      end
    end
    return false
  end,
}

addMenubarChecker{
  icon = "↘︎",
  name = "MailDraftsFolderCount",
  paths = {
    os.getenv("HOME") .. "/Library/Mail",
    os.getenv("HOME") .. "/Library/Containers/com.apple.mail",
  },
  apps = {"Mail"},
  debounceSeconds = 2,
  seconds = 300,
  onClick = function()
    hs.execute("{{ hammerspoon_mailbox_count_binary }} Drafts --unread --activate")
    hs.application.launchOrFocus "Mail"
  end,
  shouldDisplay = function()
    local count = tonumber(string.gsub(hs.execute("{{ hammerspoon_mailbox_count_binary }} Drafts"), "%D", ""), 10)
    return count and count > 0
  end,
}

addMenubarChecker{
  icon = "↑",
  name = "MailUpdatesFolderCount",
  paths = {
    os.getenv("HOME") .. "/Library/Mail",
    os.getenv("HOME") .. "/Library/Containers/com.apple.mail",
  },
  apps = {"Mail"},
  debounceSeconds = 2,
  seconds = 300,
  onClick = function()
    hs.execute("{{ hammerspoon_mailbox_count_binary }} Updates --unread --activate")
    hs.application.launchOrFocus "Mail"
  end,
  shouldDisplay = function()
    local count = tonumber(string.gsub(hs.execute("{{ hammerspoon_mailbox_count_binary }} Updates --unread"), "%D", ""), 10)
    return count and count > 0
  end,
}

#}

-- CONFIG RELOAD

hs.alert.show "Config loaded"
hs.urlevent.bind("reload", hs.reload)
