-- HYPER KEY

-- Definitions

local hyper = {"cmd", "alt", "ctrl", "shift"}
local meh = {"ctrl", "alt", "shift"}

-- MENU ICON TOGGLE

hs.menuIcon(false)
hs.hotkey.bind(hyper, "7", function() hs.menuIcon(not hs.menuIcon()) end)


-- CAFFEINE

do
  local caffeineMenubar = hs.menubar.new():removeFromMenuBar()
  local delayPeriod = hs.timer.minutes(10)
  local offSwitch = nil
  local menubarUpdater = nil

  local function resetTimer()
    if offSwitch ~= nil then
      offSwitch:stop()
      offSwitch = nil
    end
    if menubarUpdater ~= nil then
      menubarUpdater:stop()
      menubarUpdater = nil
    end
  end



  local function setCaffeine(shouldCaffeinate)
    if shouldCaffeinate then
      caffeineMenubar:returnToMenuBar()
      resetTimer()
      hs.caffeinate.set("displayIdle", true, true)
      updateMenubarTitle()
    else
      caffeineMenubar:removeFromMenuBar()
      hs.caffeinate.set("displayIdle", false, false)
      resetTimer()
    end
  end

  local function turnOff()
    setCaffeine(false)
  end


  local function toggle()
    if offSwitch ~= nil then
      setCaffeine(true)
    else
      setCaffeine(not hs.caffeinate.get("displayIdle"))
    end
  end


  local function extend()
    if not caffeineMenubar:isInMenubar() then
      setCaffeine(true)
    end
    if offSwitch == nil then
      offSwitch = hs.timer.doAfter(delayPeriod, turnOff)
    else
      offSwitch:setNextTrigger(offSwitch:nextTrigger()+delayPeriod)
    end
    updateMenubarTitle()
    menubarUpdater = hs.timer.doEvery(60, updateMenubarTitle)
  end


  function updateMenubarTitle()
    if caffeineMenubar:isInMenubar() then
      if offSwitch ~= nil then
        minsLeft = math.ceil (offSwitch:nextTrigger()/60)
        if minsLeft >= 60 then
          remaining = math.floor (minsLeft/60) .. "h" .. (minsLeft % 60) .. "m"
        else
          remaining = minsLeft .. "m"
        end
      else
        remaining = ""
      end
      caffeineMenubar:setTitle("⦿" .. remaining)
    end
  end


  caffeineMenubar:setClickCallback(turnOff)
  setCaffeine(hs.caffeinate.get("displayIdle"))

  hs.hotkey.bind(hyper, "8", toggle)
  hs.hotkey.bind(hyper, "9", extend)
end


-- TYPE CLIPBOARD

hs.hotkey.bind(hyper, "v", function() hs.eventtap.keyStrokes(hs.pasteboard.getContents()) end)


-- APP LAUNCHERS

{% for launcher in hammerspoon_app_launchers %}
hs.hotkey.bind({% if launcher.k is match('^[A-Z]$') %}hyper{% else %}meh{% endif %}, "{{ launcher.k | lower }}", function() hs.application.launchOrFocus "{{ launcher.app }}" end)
{% endfor %}


-- MENUBAR NOTIFICATIONS

local function addMenubarChecker(config)
  local icon = hs.menubar.new():removeFromMenuBar()
  local function setIcon()
    if config.shouldDisplay() then
      icon:returnToMenuBar():setTitle(config.icon):setClickCallback(config.onClick)
    else
      icon:removeFromMenuBar()
    end
  end
  if config.path then hs.pathwatcher.new(config.path, setIcon):start() end
  if config.seconds then hs.timer.doEvery(config.seconds, setIcon) end
  setIcon()
end

addMenubarChecker{
  icon = "↓",
  path = "{{ hammerspoon_downloads_path }}",
  seconds = 60,
  onClick = function()
    hs.open "{{ hammerspoon_downloads_path }}"
    hs.application.launchOrFocus "Finder"
  end,
  shouldDisplay = function()
    for x in hs.fs.dir "{{ hammerspoon_downloads_path }}" do
      if x and x ~= "." and x ~= ".." and x ~= ".DS_Store" and x ~= ".localized" then
        return true
      end
    end
    return false
  end,
}

addMenubarChecker{
  icon = "↘︎",
  seconds = 30,
  onClick = function()
    hs.execute("{{ hammerspoon_mailbox_count_binary }} Drafts --unread --activate")
    hs.application.launchOrFocus "Mail"
  end,
  shouldDisplay = function()
    local count = tonumber(string.gsub(hs.execute("{{ hammerspoon_mailbox_count_binary }} Drafts"), "%D", ""), 10)
    return count and count > 0
  end,
}

addMenubarChecker{
  icon = "↑",
  seconds = 30,
  onClick = function()
    hs.execute("{{ hammerspoon_mailbox_count_binary }} Updates --unread --activate")
    hs.application.launchOrFocus "Mail"
  end,
  shouldDisplay = function()
    local count = tonumber(string.gsub(hs.execute("{{ hammerspoon_mailbox_count_binary }} Updates --unread"), "%D", ""), 10)
    return count and count > 0
  end,
}


-- CONFIG RELOAD

hs.alert.show "Config loaded"
hs.urlevent.bind("reload", hs.reload)
